.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container {
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 20px;
}

.header {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.buttonContainer {
  margin-bottom: 20px;
}

.button {
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  outline: none;
}

.usuarios-container {
  text-align: center; /* Centrar el contenido */
  margin-top: 50px; /* Margen superior */
}

.usuarios-container ul {
  list-style-type: none; /* Elimina los puntos de la lista */
  padding: 0; /* Elimina el relleno interno de la lista */
}

.usuarios-container li {
  margin-bottom: 10px; /* Espaciado entre elementos de la lista */
}

.usuarios-container {
  text-align: center; /* Centrar el contenido */
  margin-top: 50px; /* Margen superior */
}

.usuarios-table {
  width: 60%; /* Ancho de la tabla */
  margin: 0 auto; /* Centrar la tabla en el contenedor */
  border-collapse: collapse; /* Colapsar los bordes de la tabla */
}

.usuarios-table th,
.usuarios-table td {
  border: 1px solid #ddd; /* Borde de celda */
  padding: 8px; /* Relleno de celda */
}

.usuarios-table th {
  background-color: #f2f2f2; /* Color de fondo de la fila de encabezado */
}

.usuarios-table tbody tr:nth-child(even) {
  background-color: #f9f9f9; /* Color de fondo de filas pares */
}

.crear-usuario-container {
  text-align: center;
  margin-top: 50px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.user-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  width: 300px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  width: 100px;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

p {
  color: green;
  font-weight: bold;
}
