.home-pageh {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #b4dde5;
}

.content {
  flex: 1;
  padding: 20px;
}

.product-listh {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Reduce el espacio en pantallas más pequeñas */
  justify-content: center; /* Centrar las tarjetas cuando haya menos de 4 */
}

.product-cardh {
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  flex: 1 1 calc(25% - 40px); /* Cuatro columnas con espacio de 40px alrededor */
  display: flex;
  flex-direction: column;
  cursor: pointer;
  max-width: calc(25% - 40px); /* Limita el ancho máximo al 25% del contenedor */
  box-sizing: border-box; /* Incluye el padding y border en el ancho total */
  box-shadow: 0 5px 15px rgba(8, 7, 16, 0.8);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-cardh:hover {
  transform: translateY(-10px); /* Eleva la tarjeta */
  box-shadow: 0 10px 20px rgba(8, 7, 16, 1); /* Aumenta la sombra */
}

.product-imageh {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.product-infoh {
  padding: 10px;
  text-align: center;
  flex-grow: 1;
}

.product-nameh {
  margin: 10px 0 5px;
  font-size: 18px;
}

.product-priceh {
  font-size: 16px;
  color: #333;
  font-weight: bold;
}

.remove-favorite-button {
  background-color: #FF4136;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.remove-favorite-button:hover {
  background-color: #FF0000;
}

.home-pageh h1 {
  text-align: center;
  margin-bottom: 20px;
  color: black;
}

/* Media Queries for Responsive Design */
@media (max-width: 1024px) {
  .product-cardh {
    flex: 1 1 calc(33.33% - 40px); /* Tres columnas con espacio de 40px */
    max-width: calc(33.33% - 40px);
  }
}

@media (max-width: 768px) {
  .product-cardh {
    flex: 1 1 calc(50% - 40px); /* Dos columnas con espacio de 40px */
    max-width: calc(50% - 40px);
  }
}

@media (max-width: 480px) {
  .product-cardh {
    flex: 1 1 100%; /* Una columna en pantallas pequeñas */
    max-width: 100%;
  }
}
