.home-pageh {
  width: 100%;
  padding: 20px;
  background-color: #b4dde5;
}

.product-listh {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  padding: 20px;
}

.product-cardh {
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  flex: 1 1 calc(33.333% - 40px); /* Tres columnas con espacio de 20px alrededor */
  display: flex;
  flex-direction: column;
  cursor: pointer;
  box-shadow: 3px 3px rgb(255, 129, 27), -1em 0 .4em rgb(246, 132, 18);
}

.product-imageh {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.product-infoh {
  padding: 10px;
  text-align: center;
  flex-grow: 1;
}

.product-nameh {
  margin: 10px 0 5px;
  font-size: 18px;
}

.product-priceh {
  font-size: 16px;
  color: #333;
  font-weight: bold;
}
