/* General Page Styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.product-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Asegura que la tarjeta esté centrada verticalmente */
    background-color: #b4dde5; /* Fondo claro para la página */
    padding: 20px;
}

/* Card Style */
.product-card {
    width: 100%;
    max-width: 768px; /* Ancho máximo */
    background-color: #080710;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    overflow: hidden;
    box-shadow: 3px 3px rgb(255, 129, 27), -1em 0 .4em rgb(246, 132, 18);
}

.product-image {
    width: 100%;
    height: auto;
    display: block;
}

.product-info {
    padding: 20px;
}

h2 {
    color: #ffffff;
    margin-bottom: 10px;
}

.product-price {
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 20px;
}

.product-description {
    color: #ffffff;
    margin-bottom: 20px;
}

.product-actions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

button {
    border: none;
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button.btn-favorite {
    background-color: #ff4081;
}

.product-meta {
    font-size: 14px;
    color: #ffffff;
}

/* Simular etiquetas de categoría */
.product-category {
    background-color: #e0e0e0;
    border-radius: 3px;
    padding: 5px 10px;
    display: inline-block;
}
