/* Stylesheets/sellProduct.css */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #080710;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
  }
  
.sell-product-page {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    min-height: 80vh;
    background-color: #b4dde5;

    position: relative;
    top: 0vh;
    width: 100%;
    max-width: 800px;
}

.sell-product-container {
    width: 100%;
    max-width: 800px; /* Ajuste el ancho máximo según sea necesario */
    background: rgba(8,7,16,0.8);
    padding: 30px;
    border-radius: 8px;
    height: auto;
    box-shadow: 0 5px 15px rgba(8, 7, 16, 0.8);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    height: auto; /* Ajusta la altura al contenido */
    position: relative; /* Mantiene la posición relativa */
    min-height: 80vh; /* Asegura que el contenido no se desborde */
}

.sell-product-container:hover {
    box-shadow: 0 10px 20px rgba(8, 7, 16, 1);
}

.sell-product-container h2 {
    margin-bottom: 800px;
    color: #ffffff;
    text-align: center;
}

.sell-product-form {
    margin-top: 20px;
    height: auto;
    width: auto;
}

.sell-product-form .form-group {
    margin-bottom: 15px;
}

.sell-product-form .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.sell-product-form .form-group input,
.sell-product-form .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #373333;
    font-size: 16px;
    min-width: 400px;
}

.sell-product-form .form-group input[type="file"] {
    padding: 3px;
}

.sell-product-form button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #007BFF;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

.sell-product-form button:hover {
    background-color: #0056b3;
}

.sell-product-page p {
    margin-top: 15px;
    font-size: 16px;
    color: #fff;
    text-align: center;
}
